.todo-container {
    padding-bottom: 20px;

    .title {
        padding-bottom: 20px;
        font-size: 1.5em;
        font-weight: bold;
    }

    .todo-child {
        padding-bottom: 5px;
        font-size: 0.7em;
    }
}